/*
v1
20 de Enero 2020
Gana en la Feria Corona
https://ganaenlaferiacorona.com
 */
@font-face { font-family: 'BrandonLight'; src: url('fonts/BrandonGrotesque-Light.eot'); src: url('fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'), url('fonts/BrandonGrotesque-Light.woff2') format('woff2'), url('fonts/BrandonGrotesque-Light.woff') format('woff'), url('fonts/BrandonGrotesque-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'BrandonBlack'; src: url('fonts/BrandonGrotesque-Black.eot'); src: url('fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'), url('fonts/BrandonGrotesque-Black.woff2') format('woff2'), url('fonts/BrandonGrotesque-Black.woff') format('woff'), url('fonts/BrandonGrotesque-Black.ttf') format('truetype'); font-weight: 900; font-style: normal; }
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
ol, ul {list-style: none; }
* a {cursor: pointer;}
.displayFlex { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.displayNone { display: none }
.displayBlock { display: block }
.trans5 { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease }
.backImgCover{ background-repeat: no-repeat; background-size: cover; background-position: center; }
.cw180{ -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg) }
body {
  font-family: 'BrandonLight', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 250px;
  min-height: 100vh;
  font-weight: normal;
  color: #0069b3;
  background: #FFF;
  line-height: 0.5;
  overflow-x: hidden;
 }
  .blueBody{
    background: #0069b3;
    color: #fff;
  }
  .blueBody404{
    background: #0069b3;
    color: #fff;
  }
 nav{
   background: none;
   position: relative;
   width: 100vw;
   height: 120px;
   z-index: 10;
   background: none;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
 }
 nav>a{
   display: block;
   width: 90px;
   height: 90px;
 }
  nav>a.blue{
    background-image: url('../img/corona-logotipo.svg');
  }
  nav>a.whiteWinners{
    background-image: url('../img/coronaw-logotipo.svg');
  }
  nav>a.white{
    background-image: url('../img/coronaw-logotipo.svg');
  }
footer{
  font-size: 1.1rem;
  position: relative;
  width: 100vw;
  height: 100px;
  background: #c42b53;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0px;
}
footer>p{
  display: block;
  margin: 10px auto;
}
footer>p>span{display: none}
/* Footer Home Colors */
footer.home{
color: #fff }
footer.home>p>a{ color: #fff }
footer.home>p:last-child{ color:#ebbc56 }
footer.bluePage{ background: #0069b3 }
footer.bluePage{ color: #fff }
footer.bluePage>p>a{ color: #fff }
footer.bluePage>p:last-child{ color:#fff }
footer.bluePage>p>a:hover{ color: #001e34 }
footer.bluePage404{ background: #0069b3; color: #fff; }
footer.bluePage404>p>a{ color: #fff }
footer.bluePage404>p>a:hover{ color: #808080 }
footer.footMsj{
  position: absolute;
  bottom:0;
  background: #fff;
  color: #0069b3 }
footer.footMsj>p>a{ color: #0069b3 }
footer.footMsj>p>a:hover{ color: #808080 }
/* BUTTON */
.btns{
  text-align: center;
  position: relative;
  display: block;
  font-family: 'BrandonBlack', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing:2px;
  margin: 0 auto;
  overflow:hidden;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(50,50,168,0.5);
  -moz-box-shadow: 4px 4px 15px 0px rgba(50,50,50,0.5);
  box-shadow: 4px 4px 15px 0px rgba(50,50,50,0.5);font-size: 1.2rem;
}
.btns>p{
  position: relative;
    z-index: 1; /*200; CG*/
}
.btns>.color{
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
}
.btns:hover>.color{ left: 0; }
/* BUTTONS COLORS AND SIZES */
.btRegistro{
  background: #fff;
  width: 180px;
  height: 60px;
  line-height: 60px;
}
.btRegistro>p{ color: #ebbc56; }
.btRegistro>.color{ background: #ebbc56 }
.btns:hover>p{ color: #fff }
.btnFace{
  width: 220px;
  height: 55px;
  line-height: 55px;
  background:#3b5998;
  margin: 10px 0;
}
.btnFace:hover>.color{ background: #fff }
.btnFace:hover>p{ color: #3b5998 }
.btnFace:hover>p>span{ background-image:url('../img/ic/like-blue.svg') }
.btnFace>p{ color: #fff }
.btnSube{
  margin: 10px 0;
  background: #0069b3;
  width: 220px;
  height: 55px;
  line-height: 55px;
  color: #fff;
  cursor: pointer;  /* CG */
}
.btnSube:hover>p{ color: #0069b3 }
.btnSube>.color{ background: #fff }
.btnSube:hover>p>span{ background-image:url('../img/ic/cam-blue.svg') }

/* CG */
.btnSubeOculto{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.btnEnviar{
  margin: 10px auto;
  width: 220px;
  height: 55px;
  line-height: 55px;
  background: #0069b3;
  color: #fff;
}
.btnEnviar>.color{ background: #fff; }
.btnEnviar:hover>p{ color: #0069b3 }
.btnRegresar{
  background: #fff;
  width: 220px;
  height: 55px;
  line-height: 55px;
  color: #0069b3;
}
.btnRegresar>.color{
  background: #0069b3;
}
.btnIntento{
  margin: 20px auto;
  width: 220px;
  height: 55px;
  line-height: 55px;
  background: #0069b3;
  color: #fff;
}
.btnIntento>.color{ background: #fff; }
.btnIntento:hover>p{ color: #0069b3 }
.btnDesactivado{
  background: #808080;
  cursor: not-allowed;
}
/* ICONS */
.icon{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}
.arrowIc{ background-image:url('../img/ic/arrow.svg') }
.likeIc{ background-image:url('../img/ic/like.svg') }
.camIc{ background-image:url('../img/ic/cam.svg') }
/* QUESTIONS */
.qstWr{
  display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 80px;
}
.qstWr>label{
  font-family: 'BrandonBlack';
  height: 20px;
  line-height: 20px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #808080;
  border-radius: 0;
  margin: 5px 0;
}
.qstWr>select, .qstWr>input,
#ganadores>#interface>select{
  border-radius: 0;
  border: 0;
  border-bottom:1px solid #666666;
  color: #0069b3;
  font-size: 1.1rem;
  background: #fff;
  padding: 0;
}
.qstWr>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, #11396C 50%),
        linear-gradient(135deg, #11396C 50%, transparent 50%),
        linear-gradient(to right, #fff, #fff);
      background-position:
        calc(100% - 20px) calc(0.3em + 1px),
        calc(100% - 15px) calc(0.3em + 1px),
        calc(100% - 2.3em);
      background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
}
.qstWr>select::-ms-expand { display: none; }
.qstWr>input::-webkit-input-placeholder { color: #0069b3; }
.qstWr>input:-ms-input-placeholder { color: #0069b3; }
.qstWr>input::placeholder { color: #0069b3; }

/* CG */
.qstWrDate>input{
  font-size: 0.9rem;
  text-align: center;
  border-radius: 0;
  border: 0;
  border-bottom:1px solid #666666;
  color: #0069b3;
  font-size: 1.1rem;
  background: #fff;
  padding: 0;}
.qstWrDate>input::-webkit-input-placeholder { color: #0069b3; }
.qstWrDate>input:-ms-input-placeholder { color: #0069b3; }
.qstWrDate>input::placeholder { color: #0069b3; }
/* CG fin */

.alerta{  /*.qstWr>*/
  overflow: hidden;
  line-height: 20px;
  margin: 5px 0;
  color: #c42b53;
}

.alertaOk{  /*.qstWr>*/
/*  overflow: hidden;*/
  line-height: 30px;
  margin: 5px 0;
  color: #228B22;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}
/* HOME */
#home{
  position: relative;
  margin-top: -120px;
  width: 100vw;
  background: #c42b53;
}
#home>#photo{
  width: 100%;
  height: 50vh;
  background-image: url('../img/cover-mobile.jpg');
}
#home>#info{
  text-align: center;
  background: #c42b53;
  height: 300px;
  font-size: 1.5rem; /* CG */
}
#home>#info>img{
  margin: 20px auto;
  height: calc(100% - 150px);
}
#home>#info>p{
  line-height: 20px;
  font-size: 1.3rem;
  color: #ebbc56;
  margin: 20px auto;
}
/* REGISTRO */
#registro{
  background: #fff;
  position: relative;
  width: 100vw;
  height: calc(100vh - 120px);
  overflow-x: hidden;
}
#registro>header{
  width: 100%;
  height: 100px;
  padding: 0 20px;
}
#registro>header>h2{
  font-family: 'BrandonBlack', sans-serif;
  font-size: 1.5rem;
}
#registro>header>h2>span{
  display: block;
  width: 200px;
  line-height: 1.2;
}
#registro>header>p{
  margin: 15px auto;
  font-size: 0.8rem;
  text-transform: uppercase;
}
#registro>header>span{
  display: block;
  width: 60px;
  height: 2px;
  background: #0069b3;
}
#form{
  position: relative;
  width: 100vw;
  height: 640px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#form>div{
  padding: 0 10px;
  width: 90%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
#extraForm{
  position: relative;
  left: 0;
  width: 100vw;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px auto;
}
#extraForm>div{
  width: 100vw;
}
#extraForm>.leftWr{
  padding: 10px 0;
  border:1px solid #fff;
}
#extraForm>.rightWr{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.refTicketTx{
  text-align: center;
  line-height: 1.5;
}
.refTicketTx>b{ font-family: 'BrandonBlack'; }
.refTicketTx>a{
  color: #0069b3;
  text-transform: uppercase;
  font-family: 'BrandonBlack';
}
.refTicketTx>a:hover{ color: #808080 }
.btnPart2{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#enviar{
  position: relative;
  width: 100vw;
  height: 80px;
  padding-bottom: 80px;
}
#enviar>div{
  width: 100%;
  height: 100%;
  float: right;
  text-align: center;
}
#enviar>.rightWr>div{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  border:1px solid #fff;
}
#enviar>.rightWr>div>p>a{ color: #0069b3; }
#enviar>.rightWr>div>p>a:hover{ color: #808080; }
.checkSend{
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #0069b3;
  margin-right: 10px;
}
.checkSend:checked{ background: #008cee; }
/* GANADORES */
#ganadores{
  margin-top: -110px;
  width: 100vw;
  border:1px solid #0069b3;
}
#ganadores>header{
  line-height: 20px;
  margin-top: 120px;
}
#ganadores>header>h2{
  font-size: 1.5rem;
  font-family: 'BrandonBlack', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
#ganadores>#interface{
  margin: 15px auto;
  width: 300px;
  height: 30px;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#ganadores>#interface>select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 300px;
  border:1px solid #fff;
  padding: 3px;
  font-size: 0.8rem;
  text-align: center;
}
#ganadores>#interface>a{
  display: block;
  width: 80px;
  height: 12px;
  background-image: url('../img/ic/longarrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#ganadores>#interface>a:first-child:hover{
  -webkit-transform:  rotate(180deg) translateX(10px);
  -moz-transform:  rotate(180deg) translateX(10px);
  -ms-transform:  rotate(180deg) translateX(10px);
  -o-transform:  rotate(180deg) translateX(10px);
  transform:  rotate(180deg) translateX(10px);
  opacity: 0.7;
}
#ganadores>#interface>a:last-child:hover{
  -webkit-transform:translateX(10px);
  -moz-transform:translateX(10px);
  -ms-transform:translateX(10px);
  -o-transform:translateX(10px);
  transform:translateX(10px);
}
#ganadores>#interface>p{ font-size: 1.2rem; }
#ganadores>#winnersList{
  line-height: 1.5;
  position: relative;
  width: 100%;
  height: 350px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
#ganadores>#winnersList>li{
  width: 80%;
  border-bottom: 1px solid #fff;
}
#ganadores>#winnersList>li>h3{
  font-size: 1.4rem;
  font-family: 'BrandonBlack';
  color: #ebbc56;
}
#ganadores>#winnersList>li>h4{ font-size: 1.3rem; }
#ganadores>#winnersList>li>p{ font-family: 'BrandonBlack'; }
/* 404 */
#not{
  width: 100vw;
  height: calc(100vh - 170px);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
#not>div{
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#not>div>h2{
  font-family: 'BrandonBlack', sans-serif;
  font-size: 2rem;
}
#not>div>p{
  font-size: 1.5rem;
  margin: 25px auto;
}

#not>div>span{
  display: block;
  width: 100px;
  height: 3px;
  background: #fff;
  margin:30px auto 50px auto;
}
#login,
#mensaje{
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px auto;
  padding: 10px 0;
  height: 480px;
}
#mensaje>#iconWrap{
  position: relative;
  width: 150px;
  height: 150px;
}
#mensaje>#iconWrap>div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
}
#mensaje>#iconWrap>div.circle{
  background-image: url('../img/ic/circle.svg');
  background-size: 95% 95%;
  -webkit-animation: rotateLoop 10s linear infinite;
  -moz-animation: rotateLoop 10s linear infinite;
  -ms-animation: rotateLoop 10s linear infinite;
  -o-animation: rotateLoop 10s linear infinite;
  animation: rotateLoop 10s linear infinite;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#mensaje>#iconWrap>div#icon{  }
.enviado{
  background-image: url('../img/ic/enviado.svg');
  background-size: 40% 40%;
}
.duplicado{
  background-image: url('../img/ic/duplicado.svg');
  background-size: 60% 60%;
}
.error{
  background-image: url('../img/ic/error.svg');
  background-size: 60% 60%;
}
#mensaje>p{
  text-align: center;
  display: block;
  width: 300px;
  line-height: 1;
  font-size: 1.3rem;
  color: #000;
  margin: 20px auto;
}
#mensaje>p>b{ font-family: 'BrandonBlack', sans-serif; }
#mensaje>span{
  display: block;
  width: 200px;
  height: 2px;
  background: #000;
}
#mensaje>#respuesta{
  width: 100%;
  height: 100px;
  line-height: 1;
}
#r1>p{
  margin: 20px auto;
  text-align: center;
  font-size: 1.1rem;
  color: #0069b3;
}
#r1>a{
  display: block;
  text-align: center;
  font-size: 1.7rem;
  text-decoration: none;
  color: #0069b3;
  font-family: 'BrandonBlack';
}
#r1>a:hover{ opacity: 0.7; }
#login{ line-height: 1.5;}
#login>div{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#login>div>label{
  font-size: 1.2rem;
  margin: 10px auto;
  font-family: 'BrandonBlack';  }
#login>div>input{
  width: 300px;
  height: 30px;
  line-height: 30px;
}
#login>div>input:last-child{
  margin-bottom: 10px;
}
.logout{
  display: block;
  text-align: left;
  color: #0069b3;
  font-family: 'BrandonBlack';
  margin-left: 20px;
}
#tabla{
  margin-top: 0px; /*120px;*/
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#tabla>p{
  margin: 15px auto;
  text-transform: uppercase;
  font-weight: bold;
}
#tabla>select{
  margin: 10px auto 20px auto;
  width: 300px;
  height: 30px;
  background: #fff;
  color: #0078cd;
}
#tabla>table{
  width: calc(100% - 30px);
  margin-left: 15px;
}
#tabla>table>thead{
  background: #0069b3;
  color: #fff;
  line-height: 45px;
}
#tabla>table>thead>tr>th{
  font-family: 'BrandonBlack';
  letter-spacing: 1px;
  min-width: 100px;
}
#tabla>table>tbody>tr>td{
  text-align: center;
  line-height: 1;
  padding: 10px;
  border: 1px solid #c6c6c6;
}
.status{ font-family: 'BrandonBlack'; }
.aprobado{ color: #00b34a }
.pendiente{ color: #0000FF /*#ebbc56*/  }
.rechazado{ color: #c42b53 }
.ganador{ color: #FF8C00 }
.action>a{
  margin: 0 auto;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url('../img/ic/ver.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.action:hover{ opacity: 0.7; }
#tableOnMob{
  position: relative;
  display: block;
  width:calc(100vw - 40px);
  margin-left: 20px;
  line-height: 40px;
}
#tableOnMob>span{
  display: inline-block;
  width: 30px;
  height: 15px;
  background-image:url('../img/ic/longarrow-blue.svg');
  background-repeat: no-repeat;
  background-position: center;
}
#verMasTabla{
  margin: 30px auto;
  position: relative;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#verMasTabla>a{
  margin: 10px auto;
  display: block;
  width: 30px;
  height: 30px;
  background-image:url('../img/ic/double.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#verMasTabla>a:hover{
  opacity: 0.5;
  transform: translateY(5px);
 }
#sendWinWr{
  margin: 20px auto;
  position: relative;
  width: 100vw;
  line-height: 1.5;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2rem;  /* CG */
}

#popAprobados{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.2;
}
#popAprobados>div{
  color: #fff;
  width: 300px;
  height: 200px;
  background: #0069b3;
}
#popAprobados>div>p{
  margin-top:25px;
  display: block;
  width: 100%;
  text-align: center;
}
#popAprobados>div>div{
  margin: 20px auto;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
#popAprobados>div>div>a{
  text-align: center;
  display: block;
  width: 100px;
  height: 55px;
  line-height: 55px;
  font-family: 'BrandonBlack', sans-serif;
}
#ticketInterface{ padding-bottom: 50px; }
#ticketInterface>.bts>span:first-child,
#popAprobados>div>div>a:first-child{ background: #00b34a}
#ticketInterface>.bts>span:last-child,
#popAprobados>div>div>a:last-child{ background: #c42b53}
#popAprobados>div>div>a:hover{ opacity: 0.7; }

#popAprobadosEnviados{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.2;
}
#popAprobadosEnviados>div{
  color: #fff;
  width: 300px;
  height: 200px;
  background: #0069b3;
}
#popAprobadosEnviados>div>p{
  margin-top:40px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
#popAprobadosEnviados>div>div{
  margin: 20px auto;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
#popAprobadosEnviados>div>div>a{
  text-align: center;
  display: block;
  width: 100px;
  height: 55px;
  line-height: 55px;
  font-family: 'BrandonBlack', sans-serif;
}
#popAprobadosEnviados>div>div>a:first-child{ background: #00b34a}
#popAprobadosEnviados>div>div>a:last-child{ background: #c42b53}
#popAprobadosEnviados>div>div>a:hover{ opacity: 0.7; }

#ticket{
  line-height: 1.2;
  position: relative;
  margin-top: 0px; /*120px;*/
  width: 100vw;
}

#ticketInfo, #ticketInterface{
  text-align: center;
  width: 90vw;
  max-width: 350px;
  margin: 20px auto;
  background: #fff;
}
#ticketInfo>li{
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#ticketInfo>li>p{
  font-family: 'BrandonBlack';
  margin:3px;
}
#ticketHolder{
  width: 90%;
  margin: 10px auto;
}
#ticketHolder>a{
  width: 100%;
  height: 100%;
}
#ticketHolder>a>img{ width: 100%; }
#ticketInterface>.bts{
  margin: 20px auto;
  width: 230px;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
#ticketInterface>.bts>span{
  display: block;
  width: 100px;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}
#ticketInterface>.bts>a{
  font-family: 'BrandonBlack', sans-serif;
  font-size: 1.1rem;
  color: #fff;
  display: block;
  width: 100px;
  line-height: 55px;
}
#ticketInterface>textarea{
  width: 80%;
}
#ticketInterface>a{
  margin: 30px auto;
}
#popFoot{
  font-family: 'Helvetica', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.95);
  z-index: 9999;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#popFoot>div{
  position: relative;
  color: #fff;
  line-height: 1.5;
  width: 280px;
  height: 250px;
  background: #0069b3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#popFoot>div>#closeAyuda{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#popFoot>div>#closeAyuda:hover{
  text-decoration: underline;
}
#popFoot>div>h3{ font-size: 1.5rem;  }
#popFoot>div>p>b{ font-family: 'BrandonBlack'}
#popFoot>div>a{ color: #fff; }
#popFoot>div>a:hover{ opacity: 0.8; }
/*DESKTOP*/
@media (min-width: 720px) {
  #ganadores>#interface>select{ border:1px solid #c8c8c8; }
  #ticketHolder{ width: 50%; }
  #tableOnMob{ display: none }
  .blueBody{ background: #fff; }
  nav{
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
  }
  nav>a{ margin-left: 15px; }
  nav>a.whiteWinners{ background-image: url('../img/corona-logotipo.svg'); }
  footer{
    font-size: 1.2rem;
    background: none;
    margin: 0 auto;
    width: 700px;
    height: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  footer.bluePage{ background: #FFF }
  /* Footer Home Colors */
  footer.home>p>a{ color: #808080 }
  footer.home>p>a:hover{ color: #0069b3 }
  footer.home>p:last-child{ color:#808080 }
  footer.bluePage{ width: 550px;}   /*  400px; CG */
  footer.bluePage{ color: #0069b3 }
  footer.bluePage>p>a{ color: #0069b3 }
  footer.bluePage>p:last-child{ color:#0069b3 }

  .qstWr{ text-align: center; }
  .qstWr>select, .qstWr>input{ font-size: 0.9rem; text-align: center; }
  .qstWr>select{ padding-left: calc(50% - 120px)}
  #home{ height: calc(100vh - 60px); }
  #home>#photo{
    width: 100%;
    height: 100%;
    background-image: url('../img/cover-desktop.jpg');
  }
  #home>#info{
    position: absolute;
    bottom: 0;
    width: 380px;
    height: 320px;
  }
  #registro{
    margin-top: -120px;
    height: 100vh;
  }
  #registro>header{
    margin-top: 15px;
    text-align: center;
  }
  #registro>header>h2{
    margin-top: 20px;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  #registro>header>p{ margin: 10px auto 15px auto; }
  #registro>header>span{ margin: 0 auto; }
  #registro>header>h2>span{ width: 100% }
  #form{
    width: 100vw;
    height: 450px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #form>div{
    width: 50%;
    padding: 20px 40px;
  }
  #extraForm{
    height: 220px;  /* 160px; CG */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #extraForm>.leftWr{
    height: 50%;
    padding: 0;
  }
  #extraForm>.rightWr{
    height: 60%
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #extraForm>.rightWr>div{ margin: 0 10px;}
  #ganadores>#winnersList{
    background: #0069b3;
    width: 430px;
    margin: 0 auto;
  }
  #ganadores>header>h2{ color: #0069b3 }
  #ganadores>#interface{ color: #0069b3 }
  #ganadores>#interface>a{ background-image: url('../img/ic/longarrow-blue.svg'); }
  #ganadores{ border:1px solid #fff; }
  #mensaje{
    background: #0069b3;
    width: 400px;
  }
  #mensaje>#iconWrap>div.circle{ background-image: url('../img/ic/circle-w.svg'); }
  .enviado{ background-image: url('../img/ic/enviado-w.svg')}
  .duplicado{ background-image: url('../img/ic/duplicado-w.svg')}
  .error{ background-image: url('../img/ic/error-w.svg') }
  #mensaje>p{ color: #fff }
  #mensaje>span{ background: #fff }
  #r1>p{ color: #fff }
  #r1>a{ color: #fff }
  footer.footMsj{ left: calc(50% - 280px); }
}
@-webkit-keyframes rotateLoop {
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg);}
}
@-moz-keyframes rotateLoop {
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg);}
}
@-ms-keyframes rotateLoop {
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg);}
}
@-o-keyframes rotateLoop {
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg);}
}
@keyframes rotateLoop {
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg);}
}
